.header {
  width: 100%;
  background: url("../img/background.jpeg");
  background-size: contain;

  @media (max-width: 700px) {
    padding-top: 20px;
  }

  @media (max-width: 600px) {
    background: none;
  }

  @media (max-width: 320px) {
    padding-top: 0px;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;

  @media (max-width: 700px) {
    flex-direction: column;
  }

  @media (max-width: 414px) {
    padding: 0;
  }
}

.header-section {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  z-index: 10000;
  top: 0;
  left: 0;
  transition: all 0.3s ease;

  @media (max-width: 1024px) {
    padding-bottom: 20px;
  }
}

.logotips {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;

  @media (max-width: 1024px) {
    width: 250px;
    justify-content: space-around;
  }

  @media (max-width: 375px) {
    width: 120px;
  }
}

.logo_1 {
  width: 80px;
  height: 100px;

  @media (max-width: 1024px) {
    width: 50px;
    height: 60px;
  }

  @media (max-width: 375px) {
    width: 40px;
    height: 50px;
  }
}

.logo_2 {
  width: 100px;
  height: 70px;
  margin-top: -10px;

  @media (max-width: 1024px) {
    width: 80px;
    height: 40px;
  }

  @media (max-width: 600px) {
    width: 60px;
    height: 40px;
    margin-top: -10px;
  }
}

/* #logo {
  display: none;
  width: 70px;
  height: 70px;
  background: url("../img/logo.png") no-repeat center center;
  background-size: contain;

  @media (max-width: 600px) {
    display: block;
  }
} */

.background {
  width: 320px;
  height: 45px;
  background-color: #faf5d1;
  border-radius: 40px;

  @media (max-width: 1024px) {
    width: auto;
    /* margin-right: 20px; */
  }

  @media (max-width: 414px) {
    /* width: 50%; */
    width: 120px;
    height: 40px;
  }

  @media (max-width: 375px) {
    /* width: 50%; */
    height: 30px;
  }
}

.header-paragraf {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "vTypographyofCoop-Heavy";
  color: #906f6f;
  font-size: 36px;
  height: 100%;
  text-decoration: none;
  text-transform: none;

  a {
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    color: inherit !important;
  }

  @media (max-width: 1024px) {
    font-size: 18px;
    padding: 0 10px;
  }

  @media (max-width: 414px) {
    font-size: 12px;
    padding: 0 10px;
  }
}

.header-adress {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media (max-width: 700px) {
    /* flex-direction: row; */
  }

  @media (max-width: 375px) {
    width: 160px;
    margin: 0;
    padding: 0;
  }
}

.header-adress:nth-child(1) {
  @media (max-width: 1000px) {
    display: none;
  }
}

.header-logo {
  width: 65px;
  height: 65px;
  margin: 20px;
  transition: 0.3s ease;

  @media (max-width: 1024px) {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  @media (max-width: 375px) {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }
}

.header-logo:hover {
  transform: scale(1.2);

  @media (max-width: 1024px) {
    transform: none;
  }
}

.header__scroll {
  padding: 10px 20px;
  background: #dbeeef;

  .header-logo {
    width: 40px;
    height: 40px;
    margin: 0;
  }

  .background {
    height: 40px;
  }

  .header-paragraf {
    font-size: 28px;
  }

  .logo_1 {
    width: 50px;
    height: 60px;
  }

  .logo_2 {
    width: 80px;
    height: 50px;
  }
}

.header-logo__background {
  width: 900px;
  height: 780px;
  background: url("./img/rays.png") no-repeat center center;
  background-size: contain;
  /* border-radius: 1060px / 780px; */
  /* margin-top: -90px; */
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 200px;

  @media (max-width: 1300px) {
    width: 860px;
    height: 640px;
  }

  @media (max-width: 1200px) {
    width: 660px;
    height: 480px;
    /* margin-top: 0px; */
  }

  @media (max-width: 700px) {
    margin-top: 60px;
    margin-bottom: 20px;
    width: 580px;
    height: 450px;
  }

  @media (max-width: 600px) {
    width: 98%;
    height: 300px;
  }

  @media (max-width: 500px) {
    width: 98%;
    /* border: none; */
    /* background: none; */
  }
}

.site-title {
  color: #746c1d;
  font-family: "Pudelinka";
  font-size: 75px;
  font-weight: normal;
  text-transform: uppercase;
  position: relative;

  @media (max-width: 1300px) {
    font-size: 65px;
  }

  @media (max-width: 1200px) {
    font-size: 45px;
  }

  @media (max-width: 500px) {
    font-size: 38px;
  }
}

.star {
  position: absolute;
  width: 50px;
  height: 50px;
  background: url("./img/star.png") no-repeat center center;
  background-size: 80%;
  z-index: 1000;
  @media (max-width: 600px) {
    width: 25px;
    height: 25px;
  }
}

.star1 {
  top: 80px;
  left: -50px;
  .star-light {
    animation-delay: 0.75s;
  }

  @media (max-width: 600px) {
    top: 60%;
    left: -10%;
  }
}

.star2 {
  top: -45px;
  left: 190px;

  @media (max-width: 1024px) {
    top: -60%;
    left: 40%;
  }

  @media (max-width: 600px) {
    top: -30%;
    left: 45%;
  }
}

.star3 {
  top: 80px;
  right: -50px;
  .star-light {
    animation-delay: 1.5s;
  }

  @media (max-width: 600px) {
    top: 60%;
    right: -10%;
  }
}

.star-light {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  background: url("./img/star_light.png") no-repeat center center;
  background-size: 20%;
  z-index: 10000;
  animation: star 2s infinite;
  @media (max-width: 600px) {
    width: 25px;
    height: 25px;
  }
}

@keyframes star {
  50% {
    transform: scale(3);
  }
}

.site-subtitle {
  color: #44a3a4;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;

  @media (max-width: 1300px) {
    font-size: 28px;
  }

  @media (max-width: 1200px) {
    font-size: 22px;
    margin-bottom: 0px;
  }

  @media (max-width: 500px) {
    font-size: 20px;
    margin-bottom: -10px;
  }

  @media (max-width: 414px) {
  }
}

.header__info--btn {
  display: none !important;

  @media (max-width: 600px) {
    display: block !important;
    height: 100px !important;
    padding-bottom: 0 !important;
    a {
      margin: 0 !important;
      width: 100% !important;
      padding: 0 !important;
    }
  }
}
