.main {
  display: block;
}

.main-background__line {
  display: block;
  width: 100%;
  background: #dbeeef url("./img/bgline.png") no-repeat center -65px;
  background-size: cover;
  border-radius: 900px 900px 0px 0px / 100px 100px 0px 0px;
  margin: -150px auto;
  margin-bottom: 0px;
  padding-bottom: 50px;
  z-index: 100;

  @media (max-width: 1200px) {
    border-radius: 900px 900px 0px 0px / 100px 100px 0px 0px;
    background-position: center -120px;
  }

  @media (max-width: 600px) {
    background: none;
    margin: 0px;
    margin-bottom: 50px;
    padding-bottom: 0px;
  }
}

.about__city {
  display: flex;
  justify-content: center;
  color: #90706f;
  font-size: 60px;
  padding-top: 180px;

  @media (max-width: 700px) {
    padding-top: 80px;
  }

  @media (max-width: 600px) {
    padding-top: 40px;
    font-size: 40px;
  }
}

.info__city {
  width: 80%;
  margin: 50px auto;
  margin-bottom: 0px;

  @media (max-width: 1200px) {
    width: 100%;
  }

  @media (max-width: 600px) {
    margin: 20px auto;
    padding: 50px 0;
    background-color: #dbeeef;
    border-radius: 0px 1200px 0px 1200px / 0px 300px 0px 300px;
  }
}

.info__city--back {
  background-color: transparent;

  @media (max-width: 600px) {
    width: 100%;
    height: auto;
    background-color: #fdfcbd;
    border-radius: 1200px 0px 1200px 0px / 150px 0px 150px 0px;
  }
}

.info__list {
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.info__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  cursor: pointer;
  width: 300px;
  height: 340px;
  transition: 0.3s ease;

  @media (max-width: 1200px) {
    width: 180px;
    height: 300px;
  }

  @media (max-width: 600px) {
    width: 100%;
    height: 100px;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 50px;
  }

  @media (max-width: 414px) {
    padding: 0 30px;
    margin-bottom: 20px;
  }
}

.info__item:hover .info__icon {
  /* margin-top: -30px; */
  width: 250px;
  height: 250px;

  @media (max-width: 700px) {
    width: 100px;
    height: 100px;
  }

  @media (max-width: 414px) {
    width: 80px;
    height: 80px;
  }
}

.info__item-bg {
  position: relative;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 1200px) {
    width: 150px;
    height: 150px;
  }

  @media (max-width: 700px) {
    width: 100px;
    height: 100px;
  }

  @media (max-width: 414px) {
    width: 80px;
    height: 80px;
  }
}

.info__icon {
  width: 215px;
  height: 215px;
  transition: 0.3s ease;
  @media (max-width: 1200px) {
    width: 150px;
    height: 150px;
  }

  @media (max-width: 700px) {
    width: 100px;
    height: 100px;
  }

  @media (max-width: 414px) {
    width: 80px;
    height: 80px;
  }
}

.info__title {
  text-align: center;
  word-wrap: wrap;
  font-size: 36px;
  color: #28807e;

  @media (max-width: 1200px) {
    font-size: 28px;
  }

  @media (max-width: 700px) {
    font-size: 24px;
  }

  @media (max-width: 600px) {
    font-size: 32px;
    text-align: left;
    padding-left: 10px;
  }

  @media (max-width: 414px) {
    font-size: 26px;
  }
}

.main-background__line2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background: #dbeeef url("./img/main_bg_line.png") no-repeat center center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  z-index: 100;

  @media (max-width: 900px) {
    height: 400px;
    margin-top: -100px;
  }

  @media (max-width: 600px) {
    background: inherit;
    height: auto;
    margin-top: 0px;
  }
}

.main-text-title {
  font-size: 60px;
  color: #28807e;
  margin-top: -30px;
  margin-bottom: 0px;
  position: relative;
  z-index: 200;

  @media (max-width: 900px) {
    font-size: 48px;
  }

  @media (max-width: 600px) {
    margin-top: 0px;
  }

  @media (max-width: 414px) {
    font-size: 38px;
  }
}

.main-text {
  font-size: 48px;
  color: #28807e;
  position: relative;
  z-index: 200;
  margin-top: -20px;

  @media (max-width: 900px) {
    font-size: 38px;
  }

  @media (max-width: 600px) {
    text-align: center;
  }

  @media (max-width: 414px) {
    font-size: 28px;
  }
}

.text-none {
  @media (max-width: 414px) {
    display: none;
  }
}

.groups {
  width: 100%;
  height: 600px;
  background-color: #dbeeef;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 1100px) {
    height: 500px;
  }

  @media (max-width: 600px) {
    margin-top: 100px;
    background: inherit;
  }

  @media (max-width: 500px) {
    height: auto;
  }

  @media (max-width: 414px) {
    margin-top: 50px;
  }
}

.shine {
  width: 100%;
  height: 932px;
  background: url("./img/shine.png") no-repeat center center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 110;

  @media (max-width: 1100px) {
    margin-top: 100px;
  }

  @media (max-width: 500px) {
    /* background: none; */
    justify-content: center;
    height: 800px;
    margin: -130px 0;
    margin-bottom: -120px;
    overflow: visible;
    z-index: 0;
  }

  @media (max-width: 414px) {
    padding: 0 10px;
  }
}

.sun {
  width: 470px;
  height: 470px;
  background-color: #fdfcbd;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  @media (max-width: 1100px) {
    width: 400px;
    height: 400px;
  }

  @media (max-width: 500px) {
    /* background: none; */
    /* border: none; */
    /* width: 100%;  */
    /* height: auto;  */
    /* flex-direction: column;
		justify-content: flex-start; */
    width: 300px;
    height: 300px;
  }
}

.groups-text {
  font-size: 60px;
  color: #917070;

  @media (max-width: 500px) {
    padding-bottom: 30px;
  }

  @media (max-width: 414px) {
    font-size: 40px;
  }

  @media (max-width: 320px) {
    padding: 0;
  }
}

.cloud-title {
  margin-top: -20px;
  font-size: 38px;
  color: #349ba2;

  @media (max-width: 1100px) {
    font-size: 32px;
  }

  @media (max-width: 600px) {
    font-size: 30px;
  }

  @media (max-width: 500px) {
    font-size: 20px;
  }
}

.cloud-text {
  font-size: 26px;
  color: #28807e;

  @media (max-width: 1100px) {
    font-size: 20px;
  }

  @media (max-width: 600px) {
    font-size: 18px;
  }

  @media (max-width: 500px) {
    font-size: 16px;
  }
}

.cloud1 {
  width: 430px;
  height: 250px;
  top: 200px;
  left: 180px;

  @media (max-width: 1100px) {
    width: 340px;
    height: 200px;
    left: 20%;
  }

  @media (max-width: 800px) {
    left: 10%;
  }

  @media (max-width: 600px) {
    width: 260px;
    left: 5%;
    top: 250px;
  }

  @media (max-width: 500px) {
    top: 140px;
    width: 220px;
  }
}

.cloud1:hover {
  width: 500px;
  height: 300px;

  @media (max-width: 1100px) {
    width: 340px;
    height: 200px;
    left: 20%;
  }

  @media (max-width: 800px) {
    left: 10%;
  }

  @media (max-width: 600px) {
    width: 260px;
    left: 5%;
    top: 250px;
  }

  @media (max-width: 500px) {
    top: 140px;
    width: 220px;
  }
}

.cloud2 {
  width: 530px;
  height: 300px;
  top: 260px;
  right: 50px;

  @media (max-width: 1100px) {
    width: 340px;
    height: 200px;
    right: 5%;
  }

  @media (max-width: 800px) {
    right: 0;
  }

  @media (max-width: 600px) {
    width: 260px;
    top: 260px;
  }

  @media (max-width: 500px) {
    /* align-self: flex-end; */
    background-position: 20px center !important;
    top: 220px;
    width: 220px;
    .cloud-title {
      margin-left: 20px;
    }

    .cloud-text {
      margin-left: 20px;
    }
  }

  @media (max-width: 320px) {
    right: 0;
  }
}

.cloud2:hover {
  width: 560px;
  height: 350px;

  @media (max-width: 1100px) {
    width: 340px;
    height: 200px;
    right: 5%;
  }

  @media (max-width: 800px) {
    right: 0;
  }

  @media (max-width: 600px) {
    width: 260px;
    top: 260px;
  }

  @media (max-width: 500px) {
    /* align-self: flex-end; */
    background-position: 20px center !important;
    top: 220px;
    width: 220px;
    .cloud-title {
      margin-left: 20px;
    }

    .cloud-text {
      margin-left: 20px;
    }
  }

  @media (max-width: 320px) {
    right: 0;
  }
}

.cloud3 {
  width: 530px;
  height: 300px;
  top: 400px;
  left: 50px;

  @media (max-width: 1100px) {
    width: 340px;
    height: 200px;
    left: 5%;
  }

  @media (max-width: 800px) {
    left: 0;
  }

  @media (max-width: 600px) {
    width: 260px;
    left: 1%;
    top: 440px;
  }

  @media (max-width: 500px) {
    /* align-self: flex-start; */
    top: 380px;
    width: 220px;
  }
}

.cloud3:hover {
  width: 580px;
  height: 370px;

  @media (max-width: 1100px) {
    width: 340px;
    height: 200px;
    left: 5%;
  }

  @media (max-width: 800px) {
    left: 0;
  }

  @media (max-width: 600px) {
    width: 260px;
    left: 1%;
    top: 440px;
  }

  @media (max-width: 500px) {
    /* align-self: flex-start; */
    top: 380px;
    width: 220px;
  }
}


.cloud4 {
  width: 500px;
  height: 300px;
  top: 470px;
  right: 180px;

  @media (max-width: 1100px) {
    width: 340px;
    height: 200px;
    right: 15%;
  }
  @media (max-width: 800px) {
    right: 5%;
  }

  @media (max-width: 600px) {
    width: 260px;
  }

  @media (max-width: 500px) {
    /* align-self: flex-end; */
    background-position: 20px center !important;
    top: 450px;
    width: 220px;
    .cloud-title {
      margin-left: 20px;
    }

    .cloud-text {
      margin-left: 20px;
    }
  }

  @media (max-width: 320px) {
    right: 0;
  }
}

.cloud4:hover {
  width: 550px;
  height: 340px;

  @media (max-width: 1100px) {
    width: 340px;
    height: 200px;
    right: 15%;
  }
  @media (max-width: 800px) {
    right: 5%;
  }

  @media (max-width: 600px) {
    width: 260px;
  }

  @media (max-width: 500px) {
    /* align-self: flex-end; */
    background-position: 20px center !important;
    top: 450px;
    width: 220px;
    .cloud-title {
      margin-left: 20px;
    }

    .cloud-text {
      margin-left: 20px;
    }
  }

  @media (max-width: 320px) {
    right: 0;
  }
}


.cloud {
  position: absolute;
  background: url("./img/cloud.png") no-repeat;
  background-size: contain;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s ease;
}

.info {
  position: relative;
  margin-top: -450px;
  background: #dbeeef url("./img/main_bg_info.png") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 2200px;

  @media (max-width: 900px) {
    height: 1800px;
  }

  @media (max-width: 600px) {
    background: inherit;
    height: auto;
  }

  @media (max-width: 500px) {
    margin-top: 0;
  }
}

.info__child {
  padding-top: 800px;
  margin: 0 auto;

  @media (max-width: 900px) {
    padding-top: 700px;
  }

  @media (max-width: 600px) {
    padding-top: 600px;
  }

  @media (max-width: 500px) {
    padding-top: 80px;
  }
}

.info__child-list {
  display: flex;
  justify-content: space-around;
  list-style: none;

  @media (max-width: 600px) {
    flex-direction: column;
    background-color: #dbeeef;
    border-radius: 1200px 0px 1200px 0px / 300px 0px 300px 0px;
    padding: 50px 0;
  }

  @media (max-width: 320px) {
    padding: 50px 20px;
  }
}

.info__child--back {
  background-color: transparent;

  @media (max-width: 600px) {
    width: 100%;
    height: auto;
    background-color: #fdfcbd;
    border-radius: 0px 1200px 0px 1200px / 0px 150px 0px 150px;
  }
}

.info__child-item {
  display: flex;
  width: 260px;
  height: 400px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;

  @media (max-width: 1100px) {
    width: 200px;
  }

  @media (max-width: 900px) {
    width: 150px;
    height: 340px;
  }

  @media (max-width: 700px) {
    width: 120px;
    height: 300px;
  }

  @media (max-width: 600px) {
    flex-direction: row;
    width: 100%;
    height: 150px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: 320px) {
    width: 100%;
    padding: 0;
    height: 100px;
    margin-bottom: 20px;
  }
}

.info__child-bg {
  position: relative;
  width: 260px;
  height: 260px;
  border-radius: 100%;
  background-color: #faf5d1;
  margin-bottom: 20px;

  @media (max-width: 1100px) {
    width: 200px;
    height: 200px;
  }

  @media (max-width: 900px) {
    width: 150px;
    height: 150px;
  }

  @media (max-width: 700px) {
    width: 120px;
    height: 120px;
    margin-right: 20px;
  }

  @media (max-width: 414px) {
    width: 80px;
    height: 80px;
  }
}

.info__child-icon {
  width: 240px;
  height: 240px;
  position: absolute;
  border-radius: 50%;
  bottom: 0;
  left: 10px;
  transition: 0.3s ease;

  @media (max-width: 1100px) {
    width: 185px;
    height: 185px;
    left: 7.5px;
  }

  @media (max-width: 900px) {
    width: 140px;
    height: 140px;
    left: 5px;
  }

  @media (max-width: 700px) {
    width: 110px;
    height: 110px;
  }

  @media (max-width: 414px) {
    width: 72px;
    height: 72px;
    left: 4px;
  }
}

.info__child-item:hover .info__child-icon {
  left: 0;
  width: 260px;
  height: 260px;

  @media (max-width: 1100px) {
    width: 200px;
    height: 200px;
  }

  @media (max-width: 900px) {
    width: 150px;
    height: 150px;
  }

  @media (max-width: 700px) {
    width: 120px;
    height: 120px;
  }
  @media (max-width: 414px) {
    width: 80px;
    height: 80px;
  }
}

.info__title-child {
  text-align: center;
  word-wrap: wrap;
  font-size: 36px;
  color: #28807e;

  @media (max-width: 1100px) {
    font-size: 30px;
  }

  @media (max-width: 900px) {
    font-size: 28px;
  }

  @media (max-width: 700px) {
    font-size: 24px;
    width: 65%;
  }

  @media (max-width: 600px) {
    font-size: 26px;
    text-align: left;
  }

  /* @media (max-width: 320px) {
    font-size: 22px;
  } */
}

.info__registration {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  @media (max-width: 900px) {
    height: 450px;
  }

  @media (max-width: 600px) {
    height: auto;
    padding-bottom: 300px;
  }
}

.info__registration-button {
  color: #349ba2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  text-decoration: none;
  text-align: center;
  height: 200px;
  width: 1200px;
  font-family: inherit;
  font-size: 60px;
  cursor: pointer;
  background: url("./img/button.png") no-repeat center center;
  background-size: cover;

  @media (max-width: 1024px) {
    width: 90%;
  }

  @media (max-width: 900px) {
    font-size: 48px;
  }

  @media (max-width: 700px) {
    font-size: 40px;
  }

  @media (max-width: 414px) {
    height: 140px;
    font-size: 34px;
  }

  @media (max-width: 320px) {
    font-size: 30px;
    width: 100%;
    height: 120px;
    background-size: cover;
  }
}

.info__recall {
  color: #349ba2;
  font-size: 48px;
  margin-top: -10px;
  margin-bottom: 50px;
  cursor: pointer;

  @media (max-width: 900px) {
    font-size: 40px;
    margin-top: -20px;
  }

  @media (max-width: 700px) {
    font-size: 36px;
  }

  @media (max-width: 600px) {
    font-size: 40px;
  }

  @media (max-width: 414px) {
    font-size: 34px;
  }

  @media (max-width: 320px) {
    font-size: 30px;
  }
}

.info__map {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 350px;

  @media (max-width: 900px) {
    height: 300px;
  }
}

.info__social {
  /* margin-top: 40px; */
  width: 35%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media (max-width: 600px) {
    width: 80%;
    padding-bottom: 20px;
  }

  @media (max-width: 320px) {
    width: 90%;
  }
}

.social {
  transition: 0.3s ease;
}

.social:hover {
  transform: scale(1.2);
}

.info__social--title {
  margin-bottom: -40px;
  margin-top: 10px;
  font-size: 32px;
  color: #90706f;
  text-align: center;

  @media (max-width: 800px) {
    margin-bottom: 0;
  }

  @media (max-width: 414px) {
    font-size: 22px;
    margin-bottom: 20px;
  }
}
