.main {
  display: block;
}

.main-background__line {
  display: block;
  width: 100%;
  background: #dbeeef url("./img/bgline.png") no-repeat center -65px;
  background-size: cover;
  border-radius: 900px 900px 0px 0px / 100px 100px 0px 0px;
  margin: -150px auto;
  margin-bottom: 0px;
  padding-bottom: 50px;
  position: relative;
  z-index: 100;
}

.about__city {
  display: flex;
  justify-content: center;
  color: #90706f;
  font-size: 60px;
  padding-top: 180px;
}

.info__city {
  width: 80%;
  margin: 50px auto;
  margin-bottom: 0px;
}

.info__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  cursor: pointer;
  width: 300px;
  height: 300px;
}

.info__icon {
  width: 215px;
  height: 215px;
}

.info__title {
  text-align: center;
  word-wrap: wrap;
  font-size: 36px;
  color: #28807e;
}

.main-backgroun__line2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background: #dbeeef url("./img/main_bg_line.png") no-repeat center center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  z-index: 100;
}

.main-text-title {
  font-size: 60px;
  color: #28807e;
  margin-top: -30px;
  margin-bottom: 10px;
}

.main-text {
  font-size: 48px;
  color: #28807e;
}

.groups {
    width: 100%;
    height: 600px;
    background-color: #dbeeef;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shine {
    width: 1184px;
    height: 932px;
    background:  url("./img/shine.png") no-repeat center center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 110;
}

.sun {
    width: 470px;
    height: 470px;
    background-color: #f7f0c1;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.groups-text {
    font-size: 60px;
    color: #917070;
}

.cloud {
    position: absolute;
    background: url("./img/cloud.png") no-repeat center center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cloud1 {
    width: 430px;
    height: 250px;
    top: 200px;
    left: 180px;
}

.cloud2 {
    width: 530px;
    height: 300px;
    top: 400px;
    left: 50px;
}

.cloud3 {
    width: 530px;
    height: 300px;
    top: 210px;
    right: 50px;
}

.cloud4 {
    width: 500px;
    height: 300px;
    top: 470px;
    right: 180px;
}

.cloud-title {
    margin-top: -20px;
    font-size: 38px;
    color: #349ba2;
}

.cloud-text {
    font-size: 26px;
    color: #28807e;
}

.info {
    margin-top: -300px;
    background:  #dbeeef url("./img/main_bg_info.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 2000px;
}