.modal__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(24, 114, 112, 0.8);
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
}

.modal__background {
  width: 90%;
  height: 100%;
  display: flex;
  padding: 200px 320px 300px 260px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("./img/longsheet.png") no-repeat center center;
  background-size: contain;
  color: #28807e;
}

.modal__background-low {
  background: url("./img/sheet.png") no-repeat center center;
  background-size: contain;
}

.modal__title {
  font-size: 46px;
  margin-bottom: 30px;
}

.modal__paragraff {
  font-size: 28px;
  text-indent: 40px;
  margin-bottom: 30px;
}

.modal__list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 30px;
  margin-left: 50px;
}

.modal__list-item {
  font-size: 28px;
  word-wrap: wrap;
  position: relative;
  margin-bottom: 10px;
}
.modal__list-item:before {
  position: absolute;
  top: -10px;
  left: -30px;
  content: "* ";
  font-family: "Pudelinka";
  font-size: 50px;
  color: #7d7021;
}

.modal__close {
  background: none;
  border: none;
  font-size: 28px;
  color: #28807e;
  font-family: inherit;
  margin-top: 20px;
  border: 1px solid #28807e;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.modal__registration {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.registration__button {
  display: block;
  border: none;
  background: url("./img/button.png") no-repeat center center;
  background-size: cover;
  background-position: left 65% top 25px;
  cursor: pointer;
  font-size: 36px;
  color: #28807e;
  font-family: inherit;
  width: 100%;
  height: 300px;
}

.notmargin {
  margin-bottom: 0px;
}

.modal-close {
  display: none;
}
