<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Город солнца
    link(rel="stylesheet" href="/style.css")

    body
      include modal1.pug
      include modal2.pug
      include modal4.pug
      include modal5.pug
      include modal6.pug
      include modal7.pug
      include modal8.pug
      include header.pug
      include main.pug
      


    

