header.header
    div.wrapper
        div.header-section
            div.header-adress
                a(href="#map")
                    img.header-logo(src="./img/adress.png" alt="image adress")
                div.background
                    p.header-paragraf г. Одесса, ул. Лядова 12
            div.logotips
                img.logo_1(src="./img/logo_1.png" alt="logo")
                img.logo_2(src="./img/logo_2.png" alt='logo')
            div.header-adress
                img.header-logo(src="./img/viber.png" alt="image adress")
                div.background
                    p.header-paragraf +380983002018
        div.header-logo__background
            h1.site-title Город солнца
                .star.star1
                    .star-light
                .star.star2
                    .star-light
                .star.star3
                    .star-light
            h2.site-subtitle Детский сад Гуманной Педагогики #[br] им. Ш.А.Амонашвили
            
