header.header
    div.wrapper
        div.header-section
            div.header-adress
                a(href="#map")
                    img.header-logo(src="./img/adress.png" alt="image adress")
                div.background
                    p.header-paragraf г. Одесса, ул. Лядова 12
            div.header-adress
                img.header-logo(src="./img/phone.png" alt="image adress")
                div.background
                    p.header-paragraf +380983002018
        div.header-logo__background
            h1.site-title Город солнца
            h2.site-subtitle Детский сад Гуманной Педагогики #[br] им. Ш.А.Амонашвили
        
