main.main
    div.main-background__line
        h2.about__city О Городе Солнца
        div.info__city
            ul.info__list
                li.info__item
                    img.info__icon(src="./img/infoicon1.png" alt="")
                    h3.info__title Что такое Гуманная Педагогика?
                li.info__item
                    img.info__icon(src="./img/infoicon2.png" alt="")
                    h3.info__title Наша история
                li.info__item
                    img.info__icon(src="./img/infoicon3.png" alt="")
                    h3.info__title Документи
                li.info__item
                    img.info__icon(src="./img/infoicon4.png" alt="")
                    h3.info__title Для родителей