main.main
    div.main-background__line
        h2.about__city О Городе Солнца
        div.info__city
            ul.info__list
                li.info__item
                    img.info__icon(src="./img/infoicon1.png" alt="")
                    h3.info__title Что такое Гуманная Педагогика?
                li.info__item
                    img.info__icon(src="./img/infoicon2.png" alt="")
                    h3.info__title Наша история
                li.info__item
                    img.info__icon(src="./img/infoicon3.png" alt="")
                    h3.info__title Документи
                li.info__item
                    img.info__icon(src="./img/infoicon4.png" alt="")
                    h3.info__title Для родителей
    div.main-backgroun__line2
        p.main-text-title Приходите в гости !
        p.main-text г. Одесса, ул. Лядова 12  (угол Китобойной)
    div.groups
        div.shine
            div.sun
                p.groups-text Группы
            div.cloud.cloud1
                p.cloud-title ясли 
                p.cloud-text 2-3 годика (до 12 человек)
            div.cloud.cloud2
                p.cloud-title младшая  
                p.cloud-text 3-4 года (до 14 человек)
            div.cloud.cloud3
                p.cloud-title средняя 
                p.cloud-text 4-5 лет (до 14 человек)
            div.cloud.cloud4
                p.cloud-title старшая  
                p.cloud-text 5-6 лет (до 16 человек)
    div.info
         div.info__child
            ul.info__child-list
                li.info__child-item
                    div.info__child-bg
                        img.info__child-icon(src="./img/child1.png" alt="")
                    h3.info__title-child Как мы познаем мир
                li.info__child-item
                    div.info__child-bg
                        img.info__child-icon(src="./img/child2.png" alt="")
                    h3.info__title-child Как мы проводим свой день
                li.info__child-item
                    div.info__child-bg
                        img.info__child-icon(src="./img/child3.png" alt="")
                    h3.info__title-child Что мы кушаем
                li.info__child-item
                    div.info__child-bg
                        img.info__child-icon(src="./img/child4.png" alt="")
                    h3.info__title-child Наши игры
<a class="dg-widget-link" href="http://2gis.ua/odessa/firm/70000001044140556/center/30.740582,46.415018/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Одессы</a><div class="dg-widget-link"><a href="http://2gis.ua/odessa/firm/70000001044140556/photos/70000001044140556/center/30.740582,46.415018/zoom/17?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=photos">Фотографии компании</a></div><div class="dg-widget-link"><a href="http://2gis.ua/odessa/center/30.740582,46.415018/zoom/16/routeTab/rsType/bus/to/30.740582,46.415018╎Город Солнца, частный детский сад?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до Город Солнца, частный детский сад</a></div><script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script><script charset="utf-8">new DGWidgetLoader({"width":"100%","height":400,"borderColor":"#a3a3a3","pos":{"lat":46.415018,"lon":30.740582,"zoom":16},"opt":{"city":"odessa"},"org":[{"id":"70000001044140556"}]});</script><noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
                
