main.main
    div.main-background__line
        h2.about__city О Городе Солнца
        div.info__city
            ul.info__list
                li.info__item
                    img.info__icon(src="./img/infoicon1.png" alt="")
                    h3.info__title Что такое Гуманная Педагогика?
                li.info__item
                    img.info__icon(src="./img/infoicon2.png" alt="")
                    h3.info__title Наша история
                li.info__item
                    img.info__icon(src="./img/infoicon3.png" alt="")
                    h3.info__title Документи
                li.info__item
                    img.info__icon(src="./img/infoicon4.png" alt="")
                    h3.info__title Для родителей
    div.main-backgroun__line2
        p.main-text-title Приходите в гости !
        p.main-text г. Одесса, ул. Лядова 12  (угол Китобойной)
    div.groups
        div.shine
            div.sun
                p.groups-text Группы
            div.cloud.cloud1
                p.cloud-title ясли 
                p.cloud-text 2-3 годика (до 12 человек)
            div.cloud.cloud2
                p.cloud-title младшая  
                p.cloud-text 3-4 года (до 14 человек)
            div.cloud.cloud3
                p.cloud-title средняя 
                p.cloud-text 4-5 лет (до 14 человек)
            div.cloud.cloud4
                p.cloud-title старшая  
                p.cloud-text 5-6 лет (до 16 человек)
    div.info
