div.modal__item.modal5.modal-close
    div.modal__background.modal__background-low
        h2.modal__title Как мы познаем мир?
        p.modal__paragraff Педагоги в детском саду Город Солнца помагают детям познавать мир через все грани образовательного процесса: развитие речи, погружение в иностранную языковую среду, построение логико-матемматического мышления, увлеченность творческим процессом, участие в играх и общение не только со сверсниками, но и детьми старшего и младшего возрастов.
        button.modal__close Назад