div.modal__item.modal_comments.modal-close
    div.modal__background 
        div.modal__wrapper
            div.fb-plagin
                <div class="fb-comments" data-href="https://www.facebook.com/%D0%93%D0%BE%D1%80%D0%BE%D0%B4-%D0%A1%D0%BE%D0%BB%D0%BD%D1%86%D0%B0-671945236591335/" data-numposts="10" data-width="100%"></div>
            div.modal__close-block
                button.modal__close Назад