div.modal__item.modal3.modal-close
    div.modal__background.modal__background-low
        div.modal__wrapper
            //- a.modal__link(href="https://docs.google.com/document/d/1n4nefeHl_9dYdlj9te-B-bgADcDKLDDAhJzvMZJawqw/edit?usp=sharing" target="_blank")
                h2.modal__title Маніфест гуманної педагогіки
            h2.modal__title Публічна оферта та умови надання послуг
            p.modal__paragraff Цей документ є офіційною пропозицією (публічною офертою) ТОВ «ОПЗДОГП ІМЕНІ Ш.О. АМОНАШВІЛІ МІСТО СОНЦЯ» для фізичних осіб (батьків або законних представників дитини) щодо надання послуг з догляду та розвитку дітей.
            p.modal__paragraff 1. Інформація про ТОВ Повне найменування: ТОВ «ОПЗДОГП ІМЕНІ Ш.О. АМОНАШВІЛІ МІСТО СОНЦЯ»
            ul.modal__list
                li.modal__list-item Код ЄДРПОУ: 43704540 Юридична та фактична адреса: 65049, ОДЕСЬКА ОБЛ., МІСТО ОДЕСА, ВУЛИЦЯ ЛЯДОВА , БУДИНОК 12
                li.modal__list-item Контактний телефон 
                    a.modal__link(href="tel:+380983002018" target="_blank") +38 (098) 300 20 18
                li.modal__list-item Электронна пошта: 
                    a.modal__link(href="mailto:gorodsolntsa1odessa@gmail.com" target="_blank") gorodsolntsa1odessa@gmail.com
            p.modal__paragraff 2. Ліцензія на діяльність 
            p.modal__paragraff Заклад надає послуги денного догляду за дітьми та загального розвитку (КВЕД 88.91 «Денний догляд за дітьми», 85.10 "Дошкільна освіта"). Згідно з чинним законодавством України, цей вид діяльності не підлягає обов'язковому ліцензуванню МОН, оскільки заклад не видає документів про освіту державного зразка.
            p.modal__paragraff 3. Перелік та вартість послуг 
            p.modal__paragraff Заклад надає комплексні послуги з догляду, виховання та організації дозвілля дітей дошкільного віку:
            ul.modal__list
                li.modal__list-item Послуга денного догляду (Група повного дня): перебування дитини з 08:00 до 18:30, розвиваючі заняття, педагогічний супровід.
                li.modal__list-item Вартість: <br> * для дітей віком від 1.8 років до 3 років - 16 700 грн / місяць <br> * для дітей віком від  3 років - 16 000 грн / місяць
            p.modal__paragraff 4. Умови обміну та повернення коштів 
            ul.modal__list
                li.modal__list-item Оплата послуг здійснюється у формі 100% передоплати за наступний календарний місяць не пізніше 30 числа поточного місяця.
                li.modal__list-item Повернення коштів за ненадані послуги або у разі дострокового розірвання  пе передбачене Договором.

            a.modal_registration__button.modal__registration-text(href="./img/extract.pdf" target="_blank") Виписка ЄДР
            div.modal__close-block
                button.modal__close Повернутись