div.modal__item.modal2.modal-close
    div.modal__background
        div.modal__wrapper
            h2.modal__title Наша історія
            p.modal__paragraff.notmargin Історія появи в Одесі, дитячого садка Гуманної Педогогіки, тісно пов'язана з особистою історією сім'ї Євгенії та Олександра Грабіліних, фундаторів «Міста Сонця». Виховання своїх трьох дітей призвело до знайомства з ідеями Гуманної Педагогіки, а в майбутньому і з сім'єю Амонашвілі. Олександр та Євгенія стали учнями Шалви Олександровича та закінчили Вищу Школу Амонашвілі.
            p.modal__paragraff Занурення у духовне середовище допомогло усвідомити, що такі знання мають бути суттю педагогічного процесу у школах, та й у дитячих садках, або навіть в утробі матері. Саме така мета була поставлена ​​у жовтні 2019р. на семінарі Ш. А. Амонашвілі «Мистецтво дошкільного виховання», куди було запрошено представників усіх дошкільних закладів м. Одеси. Очевидно, що реалізувати Гуманну Педагогіку в чистому вигляді, в педагогічному процесі, можливо лише, починаючи з білого аркуша. Саме тому Шалва Олександрович дав благословення на відкриття дитячого садка у нашому місті, тим людям, які щиро вірять у її силу та будують своє життя на основі духовно-моральних законів.
            div.modal__close-block
                button.modal__close Повернутись