div.modal__item.modal7.modal-close
    div.modal__background.modal__background-low
        h2.modal__title Что мы кушаем?
        p.modal__paragraff Питанию в нашем саду уделяется особое внимание. Мы создали современный кухонный блок для обеспечения автономного 5-ти разового питания для детей в течении дня. Ежедневно дети получают полноценный рацион, с учетом всех потребностей растущего организма. У детей всегда в доступе чистая питьевая вода и обязательная фруктовая пауза по сезону. Мы учитываем состояние здоровья каждого малыша, поэтому в случае необходимости предоставляем индивидуальное альтернативное меню. Для наших детей готовит повар, вкладывая в каждую порцию частичку своей доброй и светлой души, и хорошего настроения! 
        button.modal__close Назад