div.modal__item.modal6.modal-close
    div.modal__background.modal__background-low
        h2.modal__title Как мы проводим свой день
        p.modal__paragraff В детском саду «Город Солнца» вся надежда на реализацию идей Гуманной Педагогики возлагается на личность воспитателя и только потом на методическую систему. Наши дети воспитываются образами, которые мы, взрослые, им предлагаем в течении дня. Воспитатели отводят большое колличество времени для индивидуальной беседы с каждым Ребенком. Именно так зарождается духовная общность между взрослым и Ребенком, что дает со временем свои плоды и в образовательной работе. Ключом познавательного процесса Гуманная Педагогика принимает игру. «Игра - это искра, зажигающая огонек пытливости и любознательности» (В.А. Сухомлинский)
        button.modal__close Назад