div.modal__item.modal1.modal-close
    div.modal__background 
        div.modal__wrapper
            h2.modal__title Что такое Гуманная Педагогика?
            p.modal__paragraff Гуманная Педагогика - это теория и творческая практика воспитания личности в Ребёнке. Гуманные педагоги верят, что каждый Ребёнок- это явление; его возможности безграничны и он несёт в себе определенную миссию для человечества
            h2.modal__title Основные идеи Гуманной Педагогики:
            ul.modal__list
                li.modal__list-item Воспитание Ребёнка взрослым, начиная с воспитания самого себя
                li.modal__list-item Духовная общность воспитателя и Ребёнка
                li.modal__list-item Сотрудничесвтво и сотворчество между воспитателем, Ребёнком и родителями
                li.modal__list-item Непосредственность и сердечность
                li.modal__list-item Забота об облагоражевании души Ребёнка
                li.modal__list-item Предоставление права выбора
                li.modal__list-item Руководство принципом творящего терпения в отношениях с детьми
            h2.modal__title Основные аксиомы Гуманной Педагогики:
            ul.modal__list
                li.modal__list-item Любовь воспитывается любовью
                li.modal__list-item Доброта воспитывается добротой
                li.modal__list-item Личность воспитывается личностью
            h2.modal__title Главная цель Гуманной Педагогики: 
            p.modal__paragraff Воспитание благородства и великодушия в подрастающем поколении. Процесс воспитания основавыется на главных потребностях Ребёнка: в развитии, взрослении и свободе. 
            div.modal__close-block
                button.modal__close Назад