div.modal__item.modal5.modal-close
    div.modal__background.modal__background-low
        div.modal__wrapper
            h2.modal__title Як ми пізнаємо світ?
            p.modal__paragraff Педагоги в дитячому садку "Місто Сонця" допомагають дітям пізнавати світ через усі межі освітнього процесу: розвиток мови, занурення в іноземне мовне середовище, побудова логіко-математичного мислення, захоплення творчим процесом, участь у іграх та спілкування не лише з однолітками, та й з дітками  інших вікових груп.
            div.modal__close-block
                button.modal__close Повернутись