div.modal__item.modal5.modal-close
    div.modal__background.modal__background-low
        div.modal__wrapper
            h2.modal__title Как мы познаём мир?
            p.modal__paragraff Педагоги в детском саду "Город Солнца" помогают детям познавать мир через все грани образовательного процесса: развитие речи, погружение в иностранную языковую среду, построение логико-математического мышления, увлечённость творческим процессом, участие в играх и общение не только со сверстниками, но и детками из других возрастных груп.
            div.modal__close-block
                button.modal__close Вернуться