div.modal__item.modal7.modal-close
    div.modal__background.modal__background-low
        div.modal__wrapper
            h2.modal__title Что мы едим?
            p.modal__paragraff Питанию в нашем саду уделяется особое внимание. Мы создали современный кухонный зал для автономного, 5-ти разового питания деток в течении дня. Ежедневно дети получают полноценный рацион, с учётом всех потребностей растущего организма. У детей всегда в доступе чистая питьевая вода и обязательная фруктовая пауза по сезону. Мы учитываем состояние здоровья каждого малыша, поэтому в случае необходимости, индивидуально предоставляем альтернативное меню. Для наших детей готовит повар, вкладывая в каждую порцию частичку своей доброй души, и хорошего настроения! 
            div.modal__close-block
                button.modal__close Вернуться