div.modal__item.modal4.modal-close
    div.modal__background
        div.modal__wrapper
            h2.modal__title Для родителей !
            p.modal__paragraff.notmargin В основе Гуманной Педагогики лежит треугольник сотрудничества: педагог-ребенок-родитель. Наша общая задача помочь детям найти свой путь в этой жизни и «расправив крылья», реализовать свои безграничные возможности. Мы приглашаем наших родителей на регулярные родительские встречи, где мы поднимаем насущные вопросы, связанные с самопознанием и воспитанием, вместе ищем ответы.
            p.modal__paragraff Если Вы чувствуете, что основы Гуманной педагогики откликаются в сердце и Вы хотите, чтобы они стали образом жизни Вашей семьи, тогда присоединяйтесь к нашему кругу единомышленников.
            div.modal__registration
                a.registration__button(href="https://forms.gle/bzNbh29GKh2hS8tA7" target="_blank") Запись на экскурсию
            div.modal__close-block
                button.modal__close Вернуться