div.modal__item.modal7.modal-close
    div.modal__background.modal__background-low
        div.modal__wrapper
            h2.modal__title Що ми їмо?
            p.modal__paragraff Харчуванню у нашому саду приділяється особлива увага. Ми створили сучасний кухонний зал для автономного, 5-разового харчування діток протягом дня. Щодня діти отримують повноцінний раціон, з урахуванням усіх потреб організму, що росте. У дітей завжди у доступі чиста питна вода та обов'язкова фруктова пауза за сезоном. Ми враховуємо стан здоров'я кожного малюка, тому в разі потреби індивідуально надаємо альтернативне меню. Для наших дітей готує кухар, вкладаючи в кожну порцію частинку своєї доброї душі та гарного настрою!
            div.modal__close-block
                button.modal__close Повернутись