div.modal__item.modal4.modal-close
    div.modal__background
        div.modal__wrapper
            h2.modal__title Для батьків !
            p.modal__paragraff.notmargin В основі Гуманної Педагогіки лежить трикутник співпраці: педагог-дитина-батько. Наше спільне завдання допомогти дітям знайти свій шлях у цьому житті та «розправивши крила», реалізувати свої безмежні можливості. Ми запрошуємо наших батьків на регулярні батьківські зустрічі, де ми порушуємо нагальні питання, пов'язані із самопізнанням та вихованням, разом шукаємо відповіді.
            p.modal__paragraff Якщо Ви відчуваєте, що основи Гуманної педагогіки відгукуються в серці і Ви хочете, щоб вони стали спосібом життя Вашої родини, приєднуйтесь до нашого кола однодумців.
            div.modal__registration
                a.modal_registration__button.modal__registration-text(href="https://forms.gle/QYqy9Kn5eovuBBUn8" target="_blank") Анкета-знайомство, завповнить –будь ласка. Після цього ми обов’язково Вам зателефонуєм та запросимо до себе у гості.
            div.modal__close-block
                button.modal__close Повернутись