div.modal__item.modal1.modal-close
    div.modal__background 
        div.modal__wrapper
            h2.modal__title Що таке Гуманна педагогіка?
            p.modal__paragraff Гуманна Педагогіка - це теорія та творча практика виховання особистості в Дитині. Гуманні педагоги вірять, що кожна Дитина - це явище; його можливості безмежні і він несе у собі певну місію для людства.
            h2.modal__title Основні ідеї Гуманної Педагогіки:
            ul.modal__list
                li.modal__list-item Виховання Дитини дорослим починається з виховання самого себе
                li.modal__list-item Духовна спільність вихователя та Дитини
                li.modal__list-item Співробітництво та співтворчість між вихователем, Дитиною та батьками
                li.modal__list-item Безпосередність та сердечність
                li.modal__list-item Турбота про облагородження душі Дитини
                li.modal__list-item Надання права вибору
                li.modal__list-item Керівництво принципом терпіння у відносинах з дітьми
            h2.modal__title Основні аксіоми Гуманної Педагогіки:
            ul.modal__list
                li.modal__list-item Кохання виховується коханням
                li.modal__list-item Доброта виховується добротою
                li.modal__list-item Особистість виховується особистістю
            h2.modal__title Головна мета Гуманної Педагогіки: 
            p.modal__paragraff Виховання шляхетності та великодушності у підростаючому поколінні. Процес виховання ґрунтується на головних потребах Дитини: у розвитку, дорослішанні та свободі.
            div.modal__close-block
                button.modal__close Повернутись