div.modal__item.modal8.modal-close
    div.modal__background.modal__background-low
        h2.modal__title Ежедневно мы проводим игры:
        ul.modal__list
            li.modal__list-item Обучающие с использованием дидактического материала на базе программы «Впевнений старт», которая рекомендована Министерством Образования Украины, для детей от 3 до 6 лет
            li.modal__list-item Развивающие на сообразительность, логику, эрудицию, смекалку и рассудительность
            li.modal__list-item Коллективные для воспитания сотруднечества и взаимопонимания, поиска компромисса и поддержки друг друга.
        p.modal__paragraff Наш день состоит из радости познания, радости дружбы и радости игры. Встречаем детей с 8:00, провожаем в 19:00
        button.modal__close Назад