div.modal__item.modal3.modal-close
    div.modal__background.modal__background-low
        div.modal__wrapper
            a.modal__link(href="https://drive.google.com/file/d/1DCymJhfzm12DokEkOWwf3XZeLIdc4peU/view?usp=sharing" target="_blank")
                h2.modal__title Манифест гуманной педагогики
            div.modal__close-block
                button.modal__close Вернуться