div.modal__item.modal2.modal-close
    div.modal__background
        div.modal__wrapper
            h2.modal__title Наша история
            p.modal__paragraff.notmargin История появления в Одессе, детского сада Гуманной Педогогики, тесно связана с личной историей семьи Евгении и Александра Грабилиных, основателей «Города Солнца». Воспитание собственных троих детей привело к близкому знакомству с идеями Гуманной Педагогики, а в будущем и с семьей Амонашвили. Александр и Евгения стали учениками Шалвы Александровича и закончили Высшую Школу Амонашвили.
            p.modal__paragraff Погружение в духовную среду помогло осознать, что знания должны быть сутью педагогического процесса не только в школах, но и в детских садах, а то и в утробе матери. Именно такая цель была поставленна в октябре 2019г. на семенаре Ш. А. Амонашвили «Искусство дошкольного воспитания», куда были приглашены представители всех дошкольных учреждений г.Одессы. Очевидно, что реализовать Гуманную Педагогику в чистом виде, в педагогическом процессе, возможно только лишь начиная с чистого листа, поэтому Шалва Александрович дал благословение на открытие детского садика в нашем городе, тем людям, которые искренне верят в ее силу и строят свою жизнь на основании духовно-нравственных законов.
            div.modal__close-block
                button.modal__close Назад