div.modal__item.modal8.modal-close
    div.modal__background.modal__background-low
        div.modal__wrapper
            h2.modal__title Щодня ми проводимо ігри:
            ul.modal__list
                li.modal__list-item Колективні для виховання співробітництва та взаєморозуміння, пошуку компромісу та підтримки один одного.
                li.modal__list-item Розвиваючі на кмітливість, логіку, ерудицію, розважливість
                li.modal__list-item Навчальні з використанням дидактичного матеріалу на базі програми «Упевнений старт», яка рекомендована Міністерством Освіти України, для дітей віком від 3 до 6 років
            p.modal__paragraff Наш день складається з радості пізнання, радості дружби та гри. Зустрічаємо дітей з 8:00, проводжаємо о 19:00
            div.modal__close-block
                button.modal__close Повернутись